// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

$header-font: "Inter", Arial, sans-serif;
$text-font: "Ubuntu Sans", "Roboto", Arial, sans-serif;

:root {
	font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
[class^="display-"] {
	font-family: $header-font;
}

p,
sub,
sup,
a,
span {
	font-family: $text-font;
}
